# /opt/wgbot/.env.example
# Telegram
BOT_TOKEN=BOT_TOKEN
# Через запятую — ID админов (узнать /start у @userinfobot)
ADMIN_IDS=1234567890

# WireGuard
WG_INTERFACE=wg0
ENDPOINT_HOST=kuznetsovartem.ru
ENDPOINT_PORT=49153

# Ваши подсети wg0 (учтите, что .1 — адрес сервера)
NETWORK_V4=10.66.66.0/24
NETWORK_V6=fd42:42:42::/64

# DNS, который получат клиенты
DNS=1.1.1.1,8.8.8.8

# Где хранить базу, конфиги и QR
DATA_DIR=/var/lib/wg-bot
SQLITE_PATH=/var/lib/wg-bot/db.sqlite3
