[Unit]
Description=WireGuard Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/wg-bot
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/wg-bot/.venv/bin/python /opt/wg-bot/bot.py
Restart=always
RestartSec=5
# User=root
# Group=root

# Если хотите запускать не от root, дайте sudoers и права на wg0.conf
User=wg-bot
Group=wg-bot

[Install]
WantedBy=multi-user.target
